    h1, form {
      color: white;
      text-align: center;
    }

    input.button {
      font-size: 25.5px;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: -1px;
      border-radius: 3.5px;
      border: green solid 4px;
    }

    #cont {
      text-align: center;
      color: white;
    }